# DATABASE CONFIGURATION
DATABASE_URL=postgres://postgres:postgres@localhost:5432/challenge
MAX_CONNECTIONS=10
MIN_CONNECTIONS=2
CONNECT_TIMEOUT_SECONDS=30
IDLE_TIMEOUT_SECONDS=600
MAX_LIFETIME_SECONDS=1800

# SERVER CONFIGURATION
HOST=0.0.0.0
PORT=8080
JWT_SECRET=change-this-to-a-very-long-random-string-at-least-32-characters
RATE_LIMITING_REQUESTS=10
RATE_LIMITING_BURST_SIZE=20

# MAILER CONFIGURATION
MAILER_HOST=<MAILER_HOST>
MAILER_PORT=<MAILER_PORT>
MAILER_USERNAME=<MAILER_USERNAME>
MAILER_PASSWORD=<MAILER_PASSWORD>
MAILER_FROM=<MAILER_FROM>
MAILER_PASSWORD_RESET_BASE_URL=http://localhost:8080
